---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
}

const {title, description} = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="icon" type="image/svg+xml" href="/logo-artemis-icono.svg" />
		<link rel="icon" href="/logo-artemis-icono.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: #0a1929;
		overflow-x: hidden;
	}
</style>
